<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @piece.id %>
</p>

<p>
  <b>Ref:</b>
  <%= @piece.ref %>
</p>

<p>
  <b>Nom:</b>
  <%= @piece.nom %>
</p>

<p>
  <b>Prix:</b>
  <%= @piece.prix %>
</p>

<p>
  <b>Stock:</b>
  <%= @piece.stock %>
</p>


<%= link_to 'Edit', edit_piece_path(@piece) %> |
<%= link_to 'Back', pieces_path %>
